{% extends "core/base.html" %}


{% block content %}

    <h2 class='page-title'>Log In</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            Incorrect email or password.
        </div>
    {% endif %}

    <form action="{% url 'accounts:login' %}" method="POST">
        <!-- cross-site-request-forgery -->
        {% csrf_token %}

        <!-- error checking for each form field -->
        {% for field in form %}
            {% include 'core/_form_input.html' %}
        {% endfor %}

        <!-- tracks the page you were on before coming to the login, so we can return you there -->
        <input type="hidden" name="next" value="{{ next }}">

        <button type="submit" class="btn btn-primary">
            Log In
        </button>
    </form>

{% endblock content %}






