body {
    font-family: 'Lato';
    color: #333;
    padding-top: 70px;
    background-color: #f5f8fa

}

.menu {
    color: #767676;
}
.menu img {
    margin-top: -14px;
    margin-right: 10px;
    height: 48px;
    border: 1px solid #767676;
}

footer {
    color: #767676;
}

.body-content {
    min-height: 500px;
    text-align: center;
}

h1, h2, h3, h4{
    font-family: 'Exo+2';
}

hr {
    border-color: #b30000;
}

.post {
    width: 500px;
    margin: auto;
    text-align: left;
    border: 2px solid #b30000;
    background-color: #ccc;
    padding: 20px;
}
.post-image {
    float: left;
    border: 1px solid #b30000;
    height: 60px;
    margin-right: 10px;
}
.post-username {
    font-weight: bolder;
    font-size: 1.2em;
}
.post-date {
    float: right;
}
.post-text {
    margin-top: 10px;
}


