body {
    font-family: 'Lato';
    color: #333;
    padding-top: 70px;
    background-color: #f5f8fa;
    background-image:  url("background_gradient.png"), url("background_water.jpg");
    background-repeat: repeat-x, repeat;
    background-size: 150px, contain;
}


.navbar-default {
    background-image: linear-gradient(to bottom,#fff 20%,#daedf7 100%);
    border-bottom: 3px solid #2548af;
}
.menu {
    vertical-align: middle;
}
.menu-links a {
    border: 1px solid red;
    color: red;
}
.menu img {
    margin-top: -13px;
    margin-right: 10px;
    height: 48px;
}
.menu-title {
    vertical-align: middle;
    font-weight: bolder;
    font-size: 2.2em;
    color: #f1f8fb;
    text-shadow: 3px 2px 0px black;
}
.menu-username {
    padding-left: 0;
}


.page-footer {
    color: #767676;
    text-align: center;
    background-image: linear-gradient(to bottom,#daedf7 20%,#fff 100%);
    height: 50px;
}
.footer-text {
    padding-top: 20px;
}

.body-content {
    min-height: 500px;
    text-align: center;
}

h1, h2, h3, h4{
    font-family: 'Exo+2';
}

.page-title {
    font-size: 3em;
    color: #f1f8fb;
    text-shadow: 1px 1px 2px black;
}

hr {
    border-color: #2548af;
}

.post {
    width: 500px;
    margin: 0px auto;
    text-align: left;
    border: 2px solid #2548af;
    background-color: #daedf7;
    padding: 20px;
    min-height: 95px;
    border-radius: 30px;
}
.post-image {
    float: left;
    border: 1px solid #2548af;
    height: 60px;
    margin-right: 10px;
}
.post-username {
    font-weight: bolder;
    font-size: 1.2em;
}
.post-date {
    float: right;
}
.post-text {
    margin-top: 10px;
    overflow-wrap: break-word;
}
.post-user-leftside {
    position: absolute;

}

.create-post-form {
    width: 500px;
    margin: auto;
}

.ripples {
    width: 500px;
    margin: 0px auto;
    text-align: left;
    border: 2px solid #2548af;
    background-color: #f1f8fb;
    padding: 20px;
    min-height: 95px;
    border-radius: 30px;
}
.ripple {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #2548af;
}
.ripple-image {
    float: left;
    border: 1px solid #2548af;
    height: 40px;
    margin-right: 10px;
}
.ripple-username {

}
.ripple-date {
    float: right;
}
.ripple-text {
    margin-top: 5px;
    overflow-wrap: break-word;
}
.ripple-reply {
    float: right;
}
.ripple-reply a {
    color: #2548AF;
}















