{% load users_filters %}
 
    <h2>{{ user_name }}</h2>

   <h3>Plonks</h3>
  
    {% for post in posts %}
  
        <div class="post">

            <img class="post-image" src="https://www.gravatar.com/avatar/{{post.user.email | hashify}}?d=wavatar&r=g" alt="{{post.user}}">                 
            
            <div>
                <span class="post-username">
                    {{ post.user }}
                </span>
                <span class="post-date">
                    {{ post.date_added }}                    
                </span>
            </div>

            <div class="post-text">
                {{ post.text }}                
            </div>

            <div class="post-reply">
                <a href="{% url 'users:ripple' post.pk %}">
                    Ripple
                </a>
            </div>
    
        </div>

        <div>
            {% for ripple in post.ripple_set.all %}
                {{ ripple.ripple_text }}    
            {% endfor %}
            
        </div>
        
        
        <hr>

    {% endfor %}


