 


   <h3>Posts</h3>
    {% for post in posts %}
        <div class="post">

            {% load static %}
            <img class="post-image" src="{% static 'core/default_user.gif' %}" alt="">                        
        
            <div>
                <span class="post-username">
                    {{ post.user }}
                </span>
                <span class="post-date">
                    {{ post.date_added }}                    
                </span>
            </div>

            <div class="post-text">
                {{ post.text }}                
            </div>
        </div>
        
        <hr>
    {% endfor %}


