{% extends "core/base.html" %}

{% block content %}

    <p>
        Total Plonkers: {{users_count}}
    </p>
    <p>
        Total Plonks: {{posts_count}}
    </p>
    
    <h2>The Plonkers</h2>

    {% for user in users %}
        <div class="post">

            <a href="{% url 'users:user_posts' user.pk %}">            
                {% load static %}
                <img class="post-image" src="{% static 'core/default_user.gif' %}" alt="{{ user }}">                        
            </a>    

            <div>
                <a href="{% url 'users:user_posts' user.pk %}">
                    <span class="post-username">
                        {{ user }}
                    </span>
                </a>
                
                <span class="post-date">
                    <div>Joined:  </div>
                    <div>{{ user.date_joined }}</div>                    
                </span>
            </div>

        </div>

        <hr>

    {% endfor %}



{% endblock content %}




