{% extends "core/base.html" %}

{% load users_filters %}



{% block content %}

    <p>
        Total Plonkers: {{users_count}}
    </p>
    <p>
        Total Plonks: {{posts_count}}
    </p>
    
    <h2>The Plonkers</h2>

    {% for user in users %}
        <div class="post">

            <a href="{% url 'users:user_posts' user.pk %}">            

                <img class="post-image" src="https://www.gravatar.com/avatar/{{user.email | hashify}}?d=wavatar&r=g" alt="{{user}}">     
            
            </a>    

            <div>
                <span class="post-user-leftside">
                    <div class="post-username">
                        <a href="{% url 'users:user_posts' user.pk %}">
                            {{ user }}
                        </a>                        
                    </div>
                    <div>
                      <!--   Plonked x times.  -->
                    </div>
                </span>
                
                <span class="post-date">
                    <div>Joined:  </div>
                    <div>{{ user.date_joined }}</div>                    
                </span>
            </div>

        </div>

        <div>{{email}}</div>

        <hr>

    {% endfor %}



{% endblock content %}




